<div class="navbar">
  <!-- <a href="/" class="nav-item"><i class="fas fa-home icon"></i>Home</a> -->
  <!-- Add this inside your navbar.ejs -->
<!-- <a href="/community" class="nav-item"><i class="fas fa-users icon"></i>Community</a> -->
  <a href="#search" class="nav-item search-toggle"><i class="fas fa-search icon"></i> Search</a>

  <!-- <a href="/" class="nav-item"><i class="fas fa-clock icon"></i>10 questions</a> -->
  <!-- <a href="#post" class="nav-item"><i class="fas fa-plus-square icon"></i>Post</a> -->
  <!-- <a href="#notifications" class="nav-item"><i class="fas fa-bell icon"></i>Notifications</a> -->
  <a href="#profile" class="nav-item"><i class="fas fa-bars icon"></i> Settings</a>
</div>


