<div id="widget-editor" class="widget-editor">
    <!-- Widget Creation and Editing Interface -->
    <div id="widget-creation" class="widget-creation">
        <h3 class="widget-title">Create/Edit Widget</h3>
        <input type="text" id="widget-title" class="widget-input" placeholder="Widget Title">

        <div id="element-palette" class="element-palette">
            <div class="trigger-element draggable-element" data-type="text">Text Field</div>
            <div class="trigger-element draggable-element" data-type="poll">Poll</div>
            <!-- More draggable elements -->
        </div>

        

        <div class="widget-controls">
            <button id="save-widget-btn" class="widget-btn">Save Widget</button>
            <button id="cancel-widget-btn" class="widget-btn cancel">Cancel</button>
        </div>
    </div>

  <div id="widget-canvas" class="widget-canvas">
            <!-- Users build their widget here -->
        </div>
</div>


</div>
    <!-- List of User's Widgets -->
<!-- Widget Display Section -->
<div id="widget-display-section" class="widget-display-section">
  <!-- Widgets will be dynamically loaded here -->
</div>