<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virus 1.3</title>
  <!-- Global stylesheets -->
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="components.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <!-- Header included here -->
  <%- include('partials/header') %>


  <!-- Main content will be injected here -->
  <div id="main-content">
    <%- body %>
      <!-- <%- include('auth') %> -->
  </div>

  <!-- Footer included here -->

  <!-- Global scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Include Swiper's JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Include Lozad.js from CDN -->
  <script src="https://cdn.jsdelivr.net/npm/lozad@1.16.0/dist/lozad.min.js"></script>
  <!-- My Scripts -->
  <script src="app.js"></script>

  <!-- Load other JavaScript files as needed -->

</body>
</html>
