<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- Global stylesheets -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Include Gridstack.js CSS and JS via CDN -->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/9.5.1/gridstack.min.js" integrity="sha512-CF8FmQkOCnb1dO5jm1gSpqY8kh8CgvH0Vx3JRjtqGYe7u10dKLiKdVj4ZoPw+sOSvmNIqM5eu09BWtZWCwm9mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="components.css">

</head>
<body>

  <!-- --------------SIDEBAR---------------------- -->

  <div id="main-content">
    <%- body %>
  </div>
<script type="module" src="
https://cdn.jsdelivr.net/npm/gridstack@9.5.1/dist/gridstack.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/gridstack@9.5.1/dist/gridstack.min.css
" rel="stylesheet">
  <!-- Global scripts -->
    <!-- Include Swiper's JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="functions.js"></script>
  <script src="app.js"></script>
    <!-- <script src="js/other_user.js"></script> -->
  <script src="js/widgets.js"></script>
  <!-- <script src="js/message.js"></script> -->
<!-- <script src="/js/community.js"></script> -->


</body>
</html>
